{% extends "_base.html" %}

{% block content %}
<div class="content index">
<p>
世の中には面と向かって言いづらいことがたくさんあります。<br/>
「言いづらいならメールすればいいんじゃね？」<br/>
と気づいた全国のboys and girlsのために、<br/>
メールでお知らせしちゃうZO★
</p>

<ul class="buttons">
	<li>
		<a href="/to?mode=1"><img src="/media/case1.png"></a>
		<p>Social Window is Open!!</p>
	</li>
	<li>
		<a href="/to?mode=2"><img src="/media/case2.png"></a>
		<p>ぼ…ぼかぁ嬉しいんスけどね（///）</p>
	</li>
	<li>
		<a href="/to?mode=3"><img src="/media/case3.png"></a>
		<p>ほら、そのふくらはぎの辺りが。</p>
	</li>
	<li>
		<a href="/to?mode=4"><img src="/media/case4.png"></a>
		<p>青のりかな？ほうれん草かな？</p>
	</li>
	<li>
		<a href="/to?mode=5"><img src="/media/case5.png"></a>
		<p>とってもお買い得…だったんですね。</p>
	</li>
	<li>
		<a href="/to?mode=6"><img src="/media/case6.png"></a>
		<p>人間関係ｵﾜﾀ＼(^o^)／</p>
	</li>
</ul>
</div>

{% endblock %}
